<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title > Mercado Liebre Login</title> 
    <script src="https://kit.fontawesome.com/2c086df42b.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link href='https://fonts.googleapis.com/css2? family= Roboto & display=swap' rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/estilos.css" rel="stylesheet" >
    <link href="/css/login.css" rel="stylesheet" >
    
</head>

<body>
    
  <header class="main-header">
    <div class="main-header-top-bar">
      <a href="/"><img class="logo-completo"src="/imagenes/MercadoLibre1.1.png"> </img></a>
      <nav class="barra-busqueda">
        <div class="container-fluid">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar productos, marcas" aria-label="Search">
            <button type="button" class="btn btn-outline-secondary"><span class="material-icons">
              <i class="fa-solid fa-magnifying-glass"></i>
                 </span></button>
          </form>
        </div>
      
      </nav>
      <h2 class="copy-header">
        <i class="fa-solid fa-hand-holding-dollar"></i> 
        Comprá en cuotas y sin tarjeta de crédito
      </h2>
    </div>

    <a href="a" class="boton-lista">
      <i class="fa-solid fa-bars"></i>
    </a>
     
  <br>

     <nav class="main-listas">
       <ul class="lista-izq">
        <li><a href="a"> Ofertas  </a></li>
        <li><a href="a"> Tiendas oficiales </a></li>
        <li><a href="a"> Vender </a></li>
        <li><a href="a"> Ayuda   </a></li>
       </ul>
  

       <ul class="lista-derc" >
        <li><a href="/registro">  Creá tu cuenta  <i class="fa-solid fa-address-card"></i></a> </li>
        <li> <a href="/login">  Ingresá  <i class="fa-solid fa-circle-user"></i></a> </li>
        <li> <a href="a">  Mis compras <i class="fa-solid fa-bag-shopping"></i> </a> </li>
       </ul> 
     </nav>
  </header>
  <div id="inicio">
    <form action="login" method="POST">
      <br>
      <br>
    <div class="nombre">
      <label for="nombre"></label>
      <input type="text" name="usuario" placeholder="Nombre de usuario" id="nombre" required/>  
      <br>
    </div>
    <div class="contraseña">
      <input type="password" placeholder="Contraseña" name="clave" id="contraseña" required/>
      <br>
    </div>
    <div class="contraseña">
      <input type="password" placeholder="Confirmar contraseña" name="clave" id="contraseña" required/>
      <br>
    </div>
    <div class="correo">
    <input type="email" placeholder="E-mail" name="email" id="correo" required>
   </div>
   <div class="direccion">
   <input type="text" name="direccion" id="direccion" placeholder="Domicilio"/>
   </div>

   <h3 class="fecha-tex"> Fecha de nacimiento </h3>
   <div class="nacimiento">
   <input type="date" min="1921-01-01" max="2022-30-09" name="fecha" id="edad">
   </div>
  
  <div class="perfil-usuario">
    <select id="pf" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
    <option selected>Perfil usuario</option>
    <option value="1">vendedor</option>
    <option value="2">comprador</option>
</select>
</div>
   <br>
   
   
   
   <div class="box-produc">
   
   <div>
    
    
    <h3 class="perfil"> Intereses </h3>
    <br>
   <label>autos</label>
   <input type="checkbox" name="producto" id="check1" value="1producto">
   </div>
   <br>
   <div>
   <label>moda</label>
   <input type="checkbox" name="producto" id="check1" value="2producto">
   </div>
   <br>
   <div>
   <label>hogar</label>
   <input type="checkbox" name="producto" id="check1" value="3producto">
</div>
<br>
<div>
   <label>fitness</label>
   <input type="checkbox" name="producto" id="check1" value="4producto">
</div>
<br>
<div>
   <label>electronica</label>
   <input type="checkbox" name="producto" id="check1" value="5producto">
</div>
</div>
    </div>
    <br>
    
    <div id="boton-div">
   <a href="/"> <button type="submit"  id="boton-enviar"class="btn btn-outline-warning">Crear cuenta</button></a>
</div>
<br>
    <br>
    <br>
</form>


 


  <footer>
    <br>
    <div id="box-footer">
       
     
     <div class="footer1">
     <div class ="footer-icon" >
         <i class="fa-solid fa-credit-card"></i>
       </div>
          
       <h3 class="titu"> Pagá con tarjeta o efectivo 
           
           <p class="texto" > Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en  puntos de pago.<br> ¡Y siempre es seguro!</p>
       </h3>
     </div>
     <div class="footer2">
       <div class="footer-icon">
           <i class="fa-solid fa-gift"></i>
       </div>
       
           </span>
       <h3 class="titu">Envío gratis desde $ 2.500 
       <p class="texto"> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos.<br> Es un beneficio de Mercado Puntos </p>
       </h3>
     </div>
     <div class="footer1">
       <div class="footer-icon">
         <i class="fa-solid fa-shield"></i>
       </div>
               
       <h3 class="titu">Seguridad, de principio a fin
       <p class="texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, <br>porque estás siempre protegid@. </p>
       </h3>
       <br>
       
     </div>
    </div>
    
     <p class="texto">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
  
   </footer>
</body>
</html>