*{
    box-sizing: border-box;
}

#producto-entero{
    display: flex;
    flex-direction: row;
}
#producto-entero{
    width: 94%;
    height: 75%;
    border: 2px solid rgba( 0, 0, 0, 0.3);
    margin: 1% auto 0;
    padding: 0;
}


.fotos-producto{
    display: flex;
    flex-direction: column;

}


.fotos-producto-grande{
    margin-top: 4%;
    margin-left: 7%;
}
.fotos-derecha{
    width: 100%;
    height: 88.6%;
    border: 2px solid black;
}
.nombre-producto{
 
    width: 27% ;
    margin-left: 6%;
    margin-top: 4%;
}
.nombre-productos{
    margin:auto 0 auto 10px;
    text-decoration:underline;
    margin-left: -16%;
}

#div-boton-x-producto{
   text-align: right;
   margin-left: 20%;
   
}


.div-boton-comprar{
    margin-top: 8px;
}
#boton-comprar{
    width: 80% ;
    border-radius: 7px;

}
.div-boton-carrito{
    margin-top: 1%;;

  
}
#boton-carrito{
    width: 80% ;
    border-radius: 7px;

    
}
#cantidad-productos{
    margin-bottom: 1%;
    margin-left: 10%;
    width: 30%;
    border-radius: 8px;
}

.precio-producto{
    margin-top: 78%;
    margin-bottom: 11%;
    margin-left: -56%;
}

.retiro-envio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.div-flecha-boton{
    text-align: right;
    margin-top: -24px;
}
.bn35 {
    text-decoration: underline;
    font-size: small;
    margin-top: 12px;
    margin-left: 1px;
  }


 